* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(65, 65, 65);
}

.menu {
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0;
    margin-block: 0;
    gap: 1rem;
    padding: 1rem 2rem;
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.center {
    margin-inline: auto;
}